<div class="col-lg-12">
  <ol class="breadcrumb">
    <li class="active"><i class="fa fa-truck"></i> Deliverers</li>
  </ol>
</div>

<div class="col-lg-9">

	<div class="alert alert-danger" role="alert">
	  <p>Deliverers are anonymized!</p>
	</div>

	<%= will_paginate @deliverers, :previous_label => 'Previous', :next_label => 'Next', :renderer => BootstrapPagination::Rails %>
  <table class="table table-striped small">
    <thead>
      <tr>
        <th>Deliverer ID</th>
        <th>Unknown column</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
    	<% @deliverers.each do |deliverer| %>
    		<tr>
    			<td><%= deliverer.id %></td>
    			<td><%= deliverer.plate_number %></td>
    			<td><%= link_to "<i class=\"fa fa-map-marker\"></i> Show check-ins".html_safe, deliverer_path(deliverer), :class => 'btn btn-default btn-xs' %></td>
    		</tr>
    	<% end %>
    </tbody>
   </table>
</div>