<div class="col-lg-12">
  <ol class="breadcrumb">
    <li><%= link_to '<i class="fa fa-map-marker"></i> Check-Ins'.html_safe, check_ins_path %></li>
    <li class="active"><i class="fa fa-globe"></i> Show on map</li>
  </ol>
</div>


<div class="col-lg-9">
  <div class="row">
    <%= form_tag({action: :refresh_map_view}, :class => "form", :remote => true) do %>
      <div class='col-sm-3'>
        <div class="form-group">
          <%= label :start_date, "Start date", :class => "small" %>
          <div class="input-group date" id="from_date">
            <%= text_field_tag :start_date, nil, :class => 'form-control input-sm' %>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>

      <div class='col-sm-3'>
        <div class="form-group">
          <%= label :end_date, "End date", :class => "small" %>
          <div class="input-group date" id="to_date">
            <%= text_field_tag :end_date, nil, :class => 'form-control input-sm' %>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>
      <div class='col-sm-3'>
        <div class="form-group">
          <%= label :deliverer, "Deliverer", :class => "small" %>
          <%= select_tag :deliverer_id, options_for_select([["Nekaj_1",1],["Nekaj_2",2]]), :class => "form-control input-sm", :include_blank => "All" %>
        </div>
      </div>
      <div class='col-sm-3'>
        <div class="form-group">
          <%= submit_tag 'Refresh', :class => "btn btn-primary btn-sm", :style => "margin-top: 24px;", :onclick => "$('\#loader').show();" %><%= image_tag "loader.gif", :hidden => true, :id => "loader", :style => "width: 30px; margin-top: 24px; margin-left: 10px;" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div style="width: 100%; height: 400px; margin-bottom: 20px;"  id="map"></div>
  </div>
</div>

<%= render :partial => "sidebar" %>

<script type='text/javascript'>
  var map = new L.Map('map', { center: new L.LatLng(41.386842, 2.170502), 
                               zoom: 12,
                               zoomControl: false});
  L.control.zoom({
     position:'topright'
  }).addTo(map);
  var googleLayer = new L.Google('ROADMAP');
  map.addLayer(googleLayer);
  var markers = L.markerClusterGroup();
</script>

<script type="text/javascript">

  $( document ).ready(function(){

  var startDate = new Date('01/01/2014');
  var FromEndDate = new Date();
  var ToEndDate = new Date();

  $('#from_date').datepicker({
      format: "yyyy-mm-dd",
      weekStart: 1,
      startDate: '01/01/2014',
      endDate: FromEndDate, 
      autoclose: true
  })
      .on('changeDate', function(selected){
          startDate = new Date(selected.date.valueOf());
          //startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
          $('#to_date').datepicker('setStartDate', startDate);
      }); 
  $('#to_date')
      .datepicker({
          format: "yyyy-mm-dd",
          weekStart: 1,
          startDate: startDate,
          endDate: ToEndDate,
          autoclose: true
      })
      .on('changeDate', function(selected){
          FromEndDate = new Date(selected.date.valueOf());
          //FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
          $('#from_date').datepicker('setEndDate', FromEndDate);
      });
  });
</script>