<%= form_for @section, :html => { :class => "form-horizontal section" } do |f| %>

    <% if @section.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @section.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :latitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :latitude, :class => 'form-control' %>
    </div>
    <%= error_span(@section[:latitude]) %>
  </div>
  <div class="control-group">
    <%= f.label :longitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :longitude, :class => 'form-control' %>
    </div>
    <%= error_span(@section[:longitude]) %>
  </div>
  <div class="control-group">
    <%= f.label :dum_zone_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dum_zone_id, :class => 'form-control' %>
    </div>
    <%= error_span(@section[:dum_zone_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :section_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :section_name, :class => 'form-control' %>
    </div>
    <%= error_span(@section[:section_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :street_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :street_id, :class => 'form-control' %>
    </div>
    <%= error_span(@section[:street_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :street_no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :street_no, :class => 'form-control' %>
    </div>
    <%= error_span(@section[:street_no]) %>
  </div>
  <div class="control-group">
    <%= f.label :section_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :section_type_id, :class => 'form-control' %>
    </div>
    <%= error_span(@section[:section_type_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :authorized_spaces, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :authorized_spaces, :class => 'form-control' %>
    </div>
    <%= error_span(@section[:authorized_spaces]) %>
  </div>
  <div class="control-group">
    <%= f.label :unavailable_spaces, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :unavailable_spaces, :class => 'form-control' %>
    </div>
    <%= error_span(@section[:unavailable_spaces]) %>
  </div>
  <div class="control-group">
    <%= f.label :available_spaces, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :available_spaces, :class => 'form-control' %>
    </div>
    <%= error_span(@section[:available_spaces]) %>
  </div>
  <div class="control-group">
    <%= f.label :section_configuration_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :section_configuration_id, :class => 'form-control' %>
    </div>
    <%= error_span(@section[:section_configuration_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :district_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :district_id, :class => 'form-control' %>
    </div>
    <%= error_span(@section[:district_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :neighbourhood_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :neighbourhood_id, :class => 'form-control' %>
    </div>
    <%= error_span(@section[:neighbourhood_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :regulatory_zone_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :regulatory_zone_id, :class => 'form-control' %>
    </div>
    <%= error_span(@section[:regulatory_zone_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            sections_path, :class => 'btn btn-default' %>

<% end %>
