<%- model_class = Section -%>
<table class="table table-bordered small">
  <tr>
    <th>
      <%= model_class.human_attribute_name(:id) %>
    </th>
    <td>
      <%= @section.id %>
    </td>
  </tr>
  <tr>
    <th>
      <%= model_class.human_attribute_name(:latitude) %>
    </th>
    <td>
      <%= @section.latitude %>
    </td>
  </tr>
  <tr>
    <th>
      <%= model_class.human_attribute_name(:longitude) %>
    </th>
    <td>
      <%= @section.longitude %>
    </td>
  </tr>
  <tr>
    <th>
      <%= model_class.human_attribute_name(:dum_zone_id) %>
    </th>
    <td>
      <%= @section.dum_zone_id %>
    </td>
  </tr>
  <tr>
    <th>
      <%= model_class.human_attribute_name(:section_name) %>
    </th>
    <td>
      <i><%= @section.section_name %></i>
    </td>
  </tr>
  <tr>
    <th>
      <%= model_class.human_attribute_name(:street_id) %>
    </th>
    <td>
      <%= @section.street.official_name %>
    </td>
  </tr>
  <tr>
    <th>
      <%= model_class.human_attribute_name(:street_no) %>
    </th>
    <td>
      <%= @section.street_no %>
    </td>
  </tr>
  <tr>
    <th>
      <%= model_class.human_attribute_name(:section_type_id) %>
    </th>
    <td>
      <%= @section.section_type_id %>
    </td>
  </tr>
  <tr>
    <th>
      <%= model_class.human_attribute_name(:available_spaces) %>
    </th>
    <td>
      <% @section.authorized_spaces.times do |sp|  %>
        <span class="fa-stack small <%= sp < @section.available_spaces ? "text-primary" : "text-danger" %>">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-truck fa-stack-1x"></i>
        </span>
      <% end %> (<%= @section.available_spaces %>/<%= @section.authorized_spaces %>)
    </td>
  </tr>
  <tr>
    <th>
      <%= model_class.human_attribute_name(:section_configuration_id) %>
    </th>
    <td>
      <%= link_to "<i class=\"fa fa-cogs\"></i> Configuration #{@section.section_configuration_id}".html_safe, section_configuration_path(@section.section_configuration_id) %>
    </td>
  </tr>
  <tr>
    <th>
      <%= model_class.human_attribute_name(:district_id) %>
    </th>
    <td>
      <%= @section.district.name %>
    </td>
  </tr>
  <tr>
    <th>
      <%= model_class.human_attribute_name(:neighbourhood_id) %>
    </th>
    <td>
      <%= @section.neighbourhood.name %>
    </td>
  </tr>
  <tr>
    <th>
      <%= model_class.human_attribute_name(:regulatory_zone_id) %>
    </th>
    <td>
      <%= @section.regulatory_zone_id %>
    </td>
  </tr>
 <!-- <tr>
    <th>
      Total working day check-ins
    </th>
    <td class="active">
      <%= @check_in_count %>
    </td>
  </tr>
  <tr>
    <th>
      Total weekend day check-ins
    </th>
    <td class="active">
      <%= @check_in_count_weekend %>
    </td>
  </tr>     -->
</table>