<div class="col-lg-12">
  <ol class="breadcrumb">
    <li><%= link_to '<i class="fa fa-road"></i> Sections'.html_safe, sections_path %></li>
    <li><%= link_to "<i class=\"fa fa-globe\"></i> #{@section.section_name}".html_safe, @section %></li>
    <li class="active"><i class="fa fa-bar-chart-o"></i> Average number of check-ins per day of week</li>
  </ol>
  <%= render :partial => 'show_tabs' %>
  <%= form_tag({action: :refresh_avg_per_day_of_week}, :class => "form", :remote => true) do %>
    <div class='col-sm-3'>
      <div class="form-group">
        <%= label :start_date, "Start date", :class => "small" %>
        <div class="input-group date" id="from_date">
          <%= text_field_tag :start_date, nil, :class => 'form-control input-sm' %>
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>

    <div class='col-sm-3'>
      <div class="form-group">
        <%= label :end_date, "End date", :class => "small" %>
        <div class="input-group date" id="to_date">
          <%= text_field_tag :end_date, nil, :class => 'form-control input-sm' %>
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= button_tag(:type => "submit", :class => "btn btn-sm btn-primary", :style => "margin-top: 24px;", :onclick => "$('\#loader').show();") do %>
          <i class="fa fa-refresh"></i> Refresh
        <% end %>
        <%= image_tag "loader.gif", :hidden => true, :id => "loader", :style => "width: 30px; margin-top: 24px; margin-left: 10px;" %>
      </div>
    </div>
  <% end %>

  <canvas id="chart" height="110"></canvas>
</div>

<script type="text/javascript">
  $(document).ready(function(){

  var startDate = new Date('2014-01-01');
  var FromEndDate = new Date();
  var ToEndDate = new Date();

  $('#from_date').datepicker({
      format: "yyyy-mm-dd",
      weekStart: 1,
      startDate: '2014-01-01',
      endDate: FromEndDate, 
      setDate: new Date('<%= @min_datetime.strftime('%Y-%m-%d') %>'),
      autoclose: true
  })
      .on('changeDate', function(selected){
          startDate = new Date(selected.date.valueOf());
          $('#to_date').datepicker('setStartDate', startDate);
      }); 
  $('#to_date')
      .datepicker({
          format: "yyyy-mm-dd",
          weekStart: 1,
          startDate: startDate,
          endDate: ToEndDate,
          autoclose: true
      })
      .on('changeDate', function(selected){
          FromEndDate = new Date(selected.date.valueOf());
          $('#from_date').datepicker('setEndDate', FromEndDate);
      });

  $('#from_date').datepicker("setDate", new Date('<%= @min_datetime.strftime('%Y-%m-%d') %>'));
  $('#to_date').datepicker("setDate", new Date('<%= @max_datetime.strftime('%Y-%m-%d') %>'));

  });

  var data = {
    labels: [<%= @stats.collect{|row| "'#{row['day_name']}'"}.join(", ").html_safe %>],
    datasets: [
        {
          label: "mean",
          fill: false,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          data: [<%= @stats.collect{|row| "#{row['mean'].to_f.round(4)}"}.join(", ").html_safe %>]
        },
        {
          label: "mean+stdv",
          fill: false,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          pointBorderColor: "rgba(75,192,192,1)",
          borderWidth: 1,
          borderDash: [5,3],
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          data: [<%= @stats.collect{|row| "#{(row['mean'].to_f + row['stdev'].to_f).round(4)}"}.join(", ").html_safe %>]
        },
        {
          label: "mean-stdv",
          fill: false,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          pointBorderColor: "rgba(75,192,192,1)",
          borderWidth: 1,
          borderDash: [5,3],
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          data: [<%= @stats.collect{|row| "#{(row['mean'].to_f - row['stdev'].to_f) < 0.0 ? 0.0 : (row['mean'].to_f - row['stdev'].to_f).round(4)}"}.join(", ").html_safe %>]
        }
    ]
  };

  var ctx = $("#chart");
  var myLineChart = new Chart(ctx, {
    type: 'line',
    data: data
  });


</script>